#logo {
    font-family: 'Abel', sans-serif;
    color: black;
}
* {
    font-family: 'Abel', sans-serif;
}
#slogan {
    font-size: 13px;
}
#sesion {
    background-color: #f4da14;
    color: black;
}
#sesion:hover {
    background-color: #ffe200;
    color: #363636;
}
body {
    background-color: rgb(248, 249, 250);
}
nav {
    background-color: rgba(248, 249, 250, 0.9);
}
.contenido{
    width: 1200px;
}
